default: &default
  encoding: unicode
  adapter: postgresql
  pool: 5
  timeout: 5000
  username:
  password:
  host: localhost

development:
  <<: *default
  database: greenfield_development

test:
  <<: *default
  database: greenfield_test